language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
env:
  - DJANGO_VERSION=1.11.15
  - DJANGO_VERSION=2.0.8
  - DJANGO_VERSION=2.1.1
# command to install dependencies
install:
  - pip install django~=$DJANGO_VERSION
  - pip install -r requirements.txt
  - pip install python-coveralls coverage
# command to run tests
script:
  - coverage run --source='qr_code' manage.py test
after_success:
  - coveralls